[submodule "matGeom"]
	path = matGeom
	url = https://github.com/dlegland/matGeom.git
[submodule "export_fig"]
	path = export_fig
	url = git@github.com:altmany/export_fig.git
[submodule "matlab-plotting"]
	path = matlab-plotting
	url = git@github.com:jooh/matlab-plotting.git
